*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #ff99cc 0%,   
        #ffb3d1 30%,  
        #ffccd6 50%,  
        #ffccd6 70%, 
        #ffccd6 80%,  
        #ffffff 100%  
    );
}
h1{
    font-family: "Bubblegum Sans" ;
    text-shadow: -2px 6px 13px rgba(0,0,0,0.25);
}
h2, h4{
    font-weight: 800;

}
button{
    display: block;
    position: relative;
}





.btnz:link,
.btnz:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btnz:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #bf0000;
    color: white;
}

.btnz:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnz-white {
    background-color: #ff1c1c;
    color: #ffffff;
}

.btnz::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btnz-white::after {
    background-color: #ff1c1c;
}

.btnz:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btnz-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.btny:link,
.btny:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btny:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #bf0000;
    color: white;
}

.btny:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btny-white {
    background-color: #ff1c1c;
    color: #ffffff;
}

.btny::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btny-white::after {
    background-color: #ff1c1c;
}

.btny:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btny-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}